[submodule "citation_parser"]
	path = citation_parser
	url = git@github.com:mromanello/CitationParser.git

[submodule "xml_parser"]
	path = xml_parser
	url = https://github.com/mromanello/Antlr_XML_parser
